In [1]:
import pandas as pd

In [7]:
csv_df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin-1')

In [8]:
csv_df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [18]:
csv_df.groupby("Item")["Y2017"].sum()

Element
Domestic supply quantity                  5258
Export Quantity                           3660
Fat supply quantity (g/capita/day)        4982
Feed                                      1213
Food                                      4912
Food supply (kcal/capita/day)             4965
Food supply quantity (kg/capita/yr)       4876
Import Quantity                           4929
Losses                                    2009
Other uses (non-food)                     1619
Processing                                1998
Production                                3829
Protein supply quantity (g/capita/day)    4980
Residuals                                 4618
Seed                                       758
Stock Variation                           4231
Total Population - Both sexes               45
Tourist consumption                        555
Name: Y2017, dtype: int64

In [30]:
csv_df["Y2016"].isna().sum()

1535

In [31]:
csv_df["Y2016"].mean()

136.55522236062103

In [32]:
csv_df["Y2016"].std()

1640.0071942671407

In [22]:
csv_df.groupby("Element")["Y2014"].count()

Element
Domestic supply quantity                  5244
Export Quantity                           3660
Fat supply quantity (g/capita/day)        4965
Feed                                      1216
Food                                      4896
Food supply (kcal/capita/day)             4947
Food supply quantity (kg/capita/yr)       4860
Import Quantity                           4919
Losses                                    2009
Other uses (non-food)                     1662
Processing                                1987
Production                                3830
Protein supply quantity (g/capita/day)    4963
Residuals                                 4604
Seed                                       762
Stock Variation                           4230
Total Population - Both sexes               45
Tourist consumption                        555
Name: Y2014, dtype: int64

In [23]:
csv_df.groupby("Element")["Y2014"].sum()

Element
Domestic supply quantity                  1996716.35
Export Quantity                            150020.64
Fat supply quantity (g/capita/day)          10225.56
Feed                                       216927.89
Food                                      1212332.49
Food supply (kcal/capita/day)              454257.00
Food supply quantity (kg/capita/yr)         49650.63
Import Quantity                            274144.48
Losses                                     153223.00
Other uses (non-food)                       78718.13
Processing                                 282923.00
Production                                1931287.75
Protein supply quantity (g/capita/day)      11836.46
Residuals                                   30149.00
Seed                                        21922.92
Stock Variation                             58749.83
Total Population - Both sexes             1031585.00
Tourist consumption                           416.00
Name: Y2014, dtype: float64

In [29]:
csv_df.groupby("Area")["Y2018"].count()

Area
Algeria                        1298
Angola                         1396
Benin                          1252
Botswana                       1361
Burkina Faso                   1373
Cabo Verde                     1192
Cameroon                       1432
Central African Republic       1308
Chad                           1305
Comoros                          45
Congo                          1377
Côte d'Ivoire                  1455
Djibouti                       1040
Egypt                          1468
Eswatini                       1231
Ethiopia                       1425
Ethiopia PDR                     39
Gabon                          1192
Gambia                         1118
Ghana                          1337
Guinea                         1385
Guinea-Bissau                  1091
Kenya                          1548
Lesotho                        1094
Liberia                        1133
Madagascar                     1424
Malawi                         1410
Mali                           1260
Mauritania                     1170
Mauritius                      1342
Morocco                        1368
Mozambique                     1400
Namibia                        1256
Niger                          1368
Nigeria                        1456
Rwanda                         1403
Sao Tome and Principe          1109
Senegal                        1448
Seychelles                       68
Sierra Leone                   1197
South Africa                   1396
Sudan                          1268
Sudan (former)                   53
Togo                           1266
Tunisia                        1320
Uganda                         1445
United Republic of Tanzania    1408
Zambia                         1421
Zimbabwe                       1356
Name: Y2018, dtype: int64

In [27]:
n = pd.unique(csv_df["Area"])
len(n)

49